# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions
# More info on Python, GitHub Actions, and Azure App Service: https://aka.ms/python-webapps-actions

name: Build and deploy Python app to Azure Web App - studentssperformance3

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # - uses: actions/checkout@v2 # Depricated. Updating below
      - uses: actions/checkout@v5

      - name: Set up Python version
        # uses: actions/setup-python@v1 # Depricated. Updating below
        uses: actions/setup-python@v5
        with:
          # python-version: '3.7' # EB would prefer 3.7, but updating to 3.11 as 3.7 is end-of-life
          python-version: '3.11'
          cache: 'pip'

      - name: Create and start virtual environment
        run: |
          python -m venv venv
          source venv/bin/activate
      
      - name: Install dependencies
        run: pip install -r requirements.txt
        
      # Optional: Add step to run tests here (PyTest, Django test suites, etc.)
      
      - name: Upload artifact for deployment jobs
        # uses: actions/upload-artifact@v2 # Depricated. Updating below
        uses: actions/upload-artifact@v4
        with:
          name: python-app
          include-hidden-files: true # Only if dtfiles are needed
          path: |
            . 
            !venv/

  deploy:
    runs-on: ubuntu-latest
    needs: build

    permissions:
      id-token: write
      contents: read

    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
      - name: Download artifact from build job
        # uses: actions/download-artifact@v2 # Depricated. Updating below
        uses: actions/download-artifact@v4
        with:
          name: python-app
          path: .

      - name: 'Azure login (OIDC)'
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }} # Updated in GitHub Environment Secrets
          tenant-id: ${{ secrets.AZURE_TENANT_ID }} # Updated in GitHub Environment Secrets
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          
      - name: 'Deploy to Azure Web App'
        uses: azure/webapps-deploy@v2
        id: deploy-to-webapp
        with:
          app-name: 'studentssperformance3'
          slot-name: 'Production'
          package: .